<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profiles</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <!-- App Styling -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
</head>
<body>
	<a href="/login" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Logout</a>
	<style>
	.demo-list-icon {
	  width: 300px;
	}
	</style>
	<ul class="demo-list-icon mdl-list">
		{{range $i, $profile := .Profiles}}
	  <li class="mdl-list__item">
		<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-icon">person</i>
			<a href="/profile/{{$i}}">{{$profile.Name}}</a>
		</span>
	  </li>
	  {{end}}
	</ul>
	{{with $length := len .Profiles}}
		{{if lt $length 4}}
		<div>
			<form action="/addprofile" method="POST">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<label class="mdl-textfield__label">New Profile</label>
				<input class="mdl-textfield__input" style="width:auto;" type="text" name="profileName" placeholder="Name"/>
			</div>
 			<input type="submit" value="Submit">
			</form>
		</div>
		{{end}}
	{{end}}
</body>
</html>

